<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>devfinder | GitHub user search app</title>
  <meta name="description" content="Search for GitHub users with a simple UI. A Frontend Mentor project built by Josh Javier.">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="/style.css">
  <script src="/theme-toggle.js"></script>
</head>
<body>
  <%- include('partials/icons.ejs') %>

  <main>
    <div class="center">
      <div class="app-header">
        <h1 class="logo"><a href="/">devfinder</a></h1>

        <button id="theme-toggle" class="theme-toggle" aria-live="polite">
          <span class="visually-hidden">switch to</span>
          <span id="theme-value">light</span>
          <span class="visually-hidden">theme</span>
          <svg id="theme-icon" class="icon icon-sun-and-moon" viewBox="0 0 20 20" aria-hidden="true">
            <path class="beams" d="M10 3.413a.7.7 0 0 0 .688-.688V.688A.7.7 0 0 0 10 0a.7.7 0 0 0-.688.688v2.037a.7.7 0 0 0 .688.688Zm5.635 1.931 1.455-1.455a.67.67 0 0 0 0-.952.67.67 0 0 0-.952 0l-1.456 1.455a.67.67 0 0 0 0 .952c.239.264.662.264.953 0Zm3.677 3.968h-2.037a.7.7 0 0 0-.688.688.7.7 0 0 0 .688.688h2.037A.7.7 0 0 0 20 10a.7.7 0 0 0-.688-.688Zm-3.704 5.344a.67.67 0 0 0-.952 0 .67.67 0 0 0 0 .952l1.455 1.456a.67.67 0 0 0 .953 0 .67.67 0 0 0 0-.953l-1.456-1.455ZM10 16.587a.7.7 0 0 0-.688.688v2.037A.7.7 0 0 0 10 20a.7.7 0 0 0 .688-.688v-2.037a.7.7 0 0 0-.688-.688Zm-5.635-1.931L2.91 16.111a.67.67 0 0 0 0 .953.67.67 0 0 0 .952 0l1.455-1.456a.67.67 0 0 0 0-.952c-.238-.264-.66-.264-.952 0ZM3.413 10a.7.7 0 0 0-.688-.688H.688A.7.7 0 0 0 0 10a.7.7 0 0 0 .688.688h2.037A.7.7 0 0 0 3.413 10Zm.952-4.656a.67.67 0 0 0 .952 0 .67.67 0 0 0 0-.952L3.862 2.937a.67.67 0 0 0-.952 0 .67.67 0 0 0 0 .952l1.455 1.455Z"/>
            <circle class="sun" cx="10" cy="10" r="5.025" mask="url(#moon-mask)" />
            <mask class="moon" id="moon-mask">
              <rect x="0" y="0" width="100" height="100" fill="#fff" />
              <path fill="#000" d="M10.059 4.916c1.376 0 2.645.582 3.545 1.481.926.9 1.481 2.17 1.481 3.545 0 .488-.06.945-.133 1.127a.313.313 0 0 0-.232-.4.352.352 0 0 0-.295.064l-.103.089c-.284.244-.518.444-.897.582a3.568 3.568 0 0 1-1.298.233 3.771 3.771 0 0 1-2.673-1.11 3.803 3.803 0 0 1-1.105-2.685c0-.44.077-.865.205-1.252.142-.413.34-.682.61-1.005a.33.33 0 0 0-.052-.464.375.375 0 0 0-.201-.074c.37-.087.755-.132 1.148-.132Z" />
            </mask>
          </svg>
        </button>
      </div>

      <search class="search-bar">
        <svg class="icon" aria-hidden="true"><use href="#icon-search" /></svg>
        <form>
          <input
            type="search"
            name="username"
            placeholder="Search GitHub username…"
            autocomplete="off"
            value="<%= query.username %>"
          >
          <button type="submit">Search</button>
        </form>
      </search>

      <article class="card <%= locals.user ? 'user' : 'error' %>">

        <% if (locals.error) { %>
          <p><%= error %></p>
        <% } %>

        <% if (locals.user) { %>
          <div class="profile">
            <div class="avatar">
              <img src="<%= user.avatar %>" alt="">
            </div>
            <div class="text">
              <h2 class="name"><%= user.name %></h2>
              <a class="username" href="<%= user.profile %>" target="_blank" rel="noopener"><%= user.username %></a>
              <p class="joined">Joined <%= user.dateJoined %></p>
            </div>
          </div>

          <p class="bio <%= !user.bio && 'opacity-50' %>"><%= user.bio ?? 'This profile has no bio' %></p>

          <h2 class="visually-hidden">User Stats</h2>
          <ul class="stats">
            <li class="stat">
              <span class="title">Repos</span>
              <span class="value"><%= user.repos %></span>
            </li>
            <li class="stat">
              <span class="title">Followers</span>
              <span class="value"><%= user.followers %></span>
            </li>
            <li class="stat">
              <span class="title">Following</span>
              <span class="value"><%= user.following %></span>
            </li>
          </ul>

          <h2 class="visually-hidden">Other Info</h2>
          <ul class="lines">

            <!-- Location -->
            <li class="infoline <%= !user.location && 'opacity-50' %>">
              <svg class="icon" aria-hidden="true"><use href="#icon-pin" /></svg>
              <span class="visually-hidden">Location:</span>
              <span><%= user.location ?? 'Not Available' %></span>
            </li>

            <!-- Blog -->
            <li class="infoline <%= !user.blog && 'opacity-50' %>">
              <svg class="icon" aria-hidden="true"><use href="#icon-url" /></svg>
              <span class="visually-hidden">Blog:</span>
              <% if (user.blog) { %>
                <a href="<%= user.blog %>" target="_blank" rel="noopener"><%= user.blog %></a>
              <% } else { %>
                <span>Not Available</span>
              <% } %>
            </li>

            <!-- Twitter -->
            <li class="infoline <%= !user.twitter && 'opacity-50' %>">
              <svg class="icon" aria-hidden="true"><use href="#icon-twitter" /></svg>
              <span class="visually-hidden">Twitter:</span>
              <% if (user.twitter) { %>
                <a href="https://twitter.com/<%= user.twitter %>" target="_blank" rel="noopener">@<%= user.twitter %></a>
              <% } else { %>
                <span>Not Available</span>
              <% } %>
            </li>

            <!-- Company -->
            <li class="infoline <%= !user.company && 'opacity-50' %>">
              <svg class="icon" aria-hidden="true"><use href="#icon-office" /></svg>
              <span class="visually-hidden">Company:</span>
              <% if (user.company) { %>
                <a href="https://github.com/<%= user.company.slice(1) %>" target="_blank" rel="noopener"><%= user.company %></a>
              <% } else { %>
                <span>Not Available</span>
              <% } %>
            </li>

          </ul>
        <% } %>

      </article>
    </div>
  </main>

</body>
</html>
